
%header.m-header
  .m-header-inner
    .m-header-logo
      %a Mary
      %a 無料会員登録
      %a ログイン
%section#eyecatch
  .eyecatch_in
    .eyecatch_main
      .eyecatch_content
        .eyecatch_instagram
        %p.article_list_title 聖なる夜までにうっとりBODYを手に入れて♡ナチュラルコスメブランドNUXE
        %p.article_list_lead パリ発のナチュラルコスメブランド『NUXE』から2018年11月1日より「プロディジュー オイル」を中心とし...
      .eyecatch_content
        .eyecatch_instagram
        %p.article_list_title パープルコスメに頼りすぎてない？くすみを飛ばしてメイク以外でも透...
        %p.article_list_lead パープルのコスメは肌のくすみを飛ばして透明感を出してくれる、優秀アイテムですよね。パープルのコス...
.sidemenu
  .sidemenu_header
    記事
  .sidemenu_title
    %ul
      %li ホーム
      %li ファッション
      %li メイク
      %li ヘアスタイル
      %li ネイル
      %li 美容


.main
  .title
    ピックアップ
  .contents
  %ul
    %li レオパードスカート大量発生案件。私はあえてスカート以外でレオパード柄を楽しむの
  %ul
    %li 海外旅行、お土産は荒れた肌。飛行機に乗る時こそコスメブランドにこだわるべし！

.aside
  .ranking
    ランキング
  .ranking_title
  %ul
    %li クリスマスまであと24日♡私史上、最高に可愛くなるための本気の自分磨...
