
%header.m-header
  .m-header-inner
    .m-header-logo
      %a Mary
      %a 無料会員登録
      %a ログイン
%section#eyecatch
  .eyecatch_in
    .eyecatch_main
      .eyecatch_content
        .eyecatch_instagram
        %p.article_list_title 聖なる夜までにうっとりBODYを手に入れて♡ナチュラルコスメブランドNUXE
        %p.article_list_lead パリ発のナチュラルコスメブランド『NUXE』から2018年11月1日より「プロディジュー オイル」を中心とし...
      .eyecatch_content
        .eyecatch_instagram
        %p.article_list_title 聖なる夜までにうっとりBODYを手に入れて♡ナチュラルコスメブランドNUXE
        %p.article_list_lead パリ発のナチュラルコスメブランド『NUXE』から2018年11月1日より「プロディジュー オイル」を中心とし...
#sidemenu
  .sidemenu_header
  .sidemenu

%main.main
